@layer components {
  .form-number-row {
    @apply flex-center gap-x-4;
  }

  .form-input-number {
    @apply w-24;
  }

  .form-input-number label {
    @apply mb-1 block text-center text-xs uppercase tracking-wide text-white;
  }

  .form-input-number input[type='number'] {
    @apply w-full appearance-none border-0 border-b-2 border-cream bg-transparent pb-1 text-center text-xl text-white duration-300 focus:border-olive-green/50 focus:outline-none;
    appearance: textfield;
    -moz-appearance: textfield;
  }

  .form-input-number input[type='number']::-webkit-outer-spin-button,
  .form-input-number input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .form-input {
    @apply w-full mt-8;
  }

  .form-input label {
    @apply mb-1 block text-left font-serif;
  }

  .form-input input,
  .form-input textarea {
    @apply w-full appearance-none border-0 border-b-2 border-white bg-transparent px-0 py-2 text-left text-white placeholder:text-white/40 focus:border-olive-green/50 focus:outline-none duration-300;
  }

  .form-input textarea {
    @apply min-h-12 resize-y;
  }
}
