@utility flex-center {
  @apply flex items-center justify-center;
}

@utility section-title {
  @apply max-w-2xl mx-auto text-center overflow-hidden;
}

@utility section-content {
  @apply max-w-2xl mx-auto py-16 px-6 text-center overflow-hidden;
}

@utility section-body {
  @apply w-[90%] mx-auto;
}

@utility watercolor-mask {
  mask-image: url('/assets/watercolor-splash-2.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mix-blend-mode: multiply;

  -webkit-mask-image: url('/assets/watercolor-splash-2.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
